/* Variables */

:root {
    --basic-white :#ffffff;
    --basic-extra-white: #F3F7F9;
    --basic-biege: #F9F5F0;
    --basic-extra-biege: #F7F3EC;
    --basic-black: #000000;
    --basic-red: #EE3643;
    --basic-darkred: #CA2C37;
    --basic-blue: #32425C;
    --basic-darkblue:#293449;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-green: #63A63E;
    --basic-background: #F1F5F7;
    --basic-lightgray: #A9A9A9;
    --success: #5FBB2D;
    --error: #BA2732;
    --warning: #FFBF47;
    --special-greenlight: #8ED78F;
    --special-lilack: #DC91D8;
    --special-blue: #3BBCE3;
    --special-yellowlight: #FFD180;
}

/* Fonts */

@font-face {
    font-family: "Cuprum";
    src: 
      url(../fonts/cuprum.woff2),
      url(../fonts/cuprum.woff);
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: "Cuprum Bold";
    src: 
      url(../fonts/cuprumbold.woff2),
      url(../fonts/cuprumbold.woff);
      font-weight: 700;
      font-style: normal;
}

@font-face {
    font-family:"PT Sans";
    src: 
      url(../fonts/ptsans.woff2),
      url(../fonts/ptsans.woff);
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family:"PT Sans Bold";
    src: 
      url(../fonts/ptsansbold.woff2),
      url(../fonts/ptsansbold.woff);
      font-weight: 700;
      font-style: normal;
}

/* Global */

.page-body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--basic-white);
    color: var(--basic-black);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page {
    height: 100%;
}

/* Grid */
.main-header-bar {
    background-color: var(--basic-blue);
}

.main-header {
    margin-bottom: 60px;
}

.wrapper-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

.order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.personal-block-bg {
    background-color: var(--basic-background);
}

.contacts_personal_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.personal-area {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 70px;
}

.advantages-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}
.advantages-list :nth-child(1) {
    grid-column: 1/1;
    grid-row: 1/1
}

.advantages-list :nth-child(2) {
    grid-column: 2/2;
    grid-row: 1/1
}

.advantages-list :nth-child(3) {
    grid-column: 3/3;
    grid-row: 1/1
}

.advantages-list :nth-child(4) {
    grid-column: 3/3;
    grid-row: 2/3
}

.advantages-list :nth-child(5) {
    grid-column: 3/3;
    grid-row: 3/3
}

.advantages-list :nth-child(6) {
    grid-column: 1/1;
    grid-row: 1/-1;
}

.popular-goods-block,
.brands-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.popular-goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.brands {
    margin-bottom: 70px;
}

.brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.services {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.services-list,
.services-desc-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.about-us-block {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.about-us-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-header {
    margin-bottom: 70px;
}

.catalog-page-personal-area,
.catalog-list,
.sorting-list,
.products-list,
.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-catalog .filter-block {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 20px;
}

.main-footer {
    background-color: var(--basic-blue);
}

.button:hover,
.button:focus {
    background-color: var(--basic-darkred);
}

.button:active {
    background-color: var(--error);
}

.search-item:active::placeholder {
    opacity: 50%;
}

.bookmarks:active,
.cart:active {
    opacity: 50%;
}

.checkout:hover,
.checkout:focus {
    background-color: var(--success);
}

.checkout:active {
    background-color: var(--success);
    opacity: 50%;
}

.checkout {
    background-color: var(--basic-green);
}

.personal-area a:hover,
.personal-area a:focus {
    color: var(--basic-red);
}

.personal-area a:active {
    color: var(--basic-greylight);
}

.catalog-page-personal-area .user-area:hover,
.catalog-page-personal-area .user-area:focus,
.catalog-page-personal-area .user-orders:hover,
.catalog-page-personal-area .user-orders:focus {
    color: var(--basic-red);
}

.catalog-page-personal-area .user-area:active,
.catalog-page-personal-area .user-orders:active {
    color: var(--basic-greylight);
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: var(--basic-darkblue)
}

.site-navigation a:active {
    opacity: 50%;
}

.services-list a:hover,
.services-list a:focus {
    background-color: var(--basic-darkblue);
}

.services-list a {
    text-decoration: none;
}

.footer-list a:hover,
.footer-list a:focus,
.assortment-list a:hover,
.assortment-list a:focus {
    text-decoration: underline;
}

.footer-list a:active,
.assortment-list a:active {
    opacity: 50%;
    text-decoration: none;
}

.footer-social a:hover,
.footer-social a:focus
.footer-social a:active {
    background-color: var(--basic-red);
}

.button-feedback:hover,
.button-developer:focus {
    text-decoration: underline;
}

.button-feedback:active,
.button-developer:active {
    color: var(--basic-red);
    text-decoration: none;
}

.advantages-list a:hover,
.advantages-list a:focus {
    background-color: var(--basic-greylight);
}

.advantages-list a:active {
    background-color: var(--basic-lightgray);
}

.wrapper-header,
.site-navigation {
    background-color: var(--basic-blue);
}

.catalog h3 {
    background-color: var(--basic-background);
}

.advantages-materials {
    background-color: var(--special-yellowlight);
}

.advantages-instruments {
    background-color: var(--special-blue);
}

.advantages-technics {
    background-color: var(--special-lilack);
}

.advantages-discount {
    background-color: var(--special-greenlight);
}

.advantages-delivery {
    background-color: var(--special-yellowlight);
}

.popular-goods-block,
.brands-block {
    background-color: var(--basic-biege);
}

.services {
    background-color: var(--basic-background);
}

.perforator-desc {
    background-color: var(--basic-background);
}

.footer-bottom {
    background-color: var(--basic-darkblue);
}

.button {
    background-color: var(--basic-red);
}

.search-form input,
.order-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-white);
}

.order-list a {
    text-decoration: none;
}

.main-header h1 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;    
    color: var(--basic-red); 
}

.main-header .address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-blue); 
}

.main-header .phone {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-red);
}

.personal-area .button-login,
.personal-area .button-register {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;    
    color: var(--basic-black); 
    text-decoration: none;   
}

.catalog-page-personal-area a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-blue); 
    text-decoration: none;  
}

.catalog-list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue);
}

.filter h2,
.sorting h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}



.filter-form-number-bg,
.filter-form-number {
    background-color: var(--basic-extra-biege);
}

.filter-price,
.filter-brands,
.filter-power {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.filter-form-number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-black);
}

.filter-form label {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.button-submit {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.sorting-bg {
    background-color: var(--basic-extra-biege);
}

.sorting-item a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
    text-decoration: none;
    opacity: 30%;
    text-decoration: underline dotted var(--basic-red);
}

.sorting-item a:hover,
.sorting-item a:focus {
    opacity: 100%;
    text-decoration: underline var(--basic-red);
}

.products-list h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;    
    color: var(--basic-black);
}

.products-list .old-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;    
    color: var(--basic-lightgray); 
}

.products-list .actual-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;    
    color: var(--basic-white); 
}

.pagination-list a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-list .current {
    background-color: var(--basic-red);
}

.site-navigation a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-white);
    text-decoration: none;
}

.advantages-list li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-white);    
}

.advantages-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
}

.slider-list h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;    
    color: var(--basic-white); 
}

.slider-list p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-white);
}

.button-catalog {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-white);
    text-transform: uppercase;  
}

.popular-goods h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue);
    text-transform: uppercase;
}

.button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
}

.popular-goods-list li {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
}

.popular-goods-list .old-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-lightgray);
}

.popular-goods-list .actual-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
}

.brands h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue);
    text-transform: uppercase;
}

.services h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.services-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-blue);  
}

.services-desc-list h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue);
    text-transform: uppercase; 
}

.about-us h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.about-us-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-black);
}

.contacts h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.perforator-desc h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
    text-transform: uppercase;
}

.main-footer .address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-white);
}

.footer-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-white);
    text-decoration: none;
}

.footer-social a {
    text-decoration: none;
}

.assortment-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--special-yellowlight);
    text-decoration: none;
}

.copyright {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-white);
}

.feedback,
.developer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-white);
}

.button-feedback,
.button-developer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--special-yellowlight);
    text-decoration: none;
}