:root {
    --basic-white :#ffffff;
    --basic-extra-white: #F3F7F9;
    --basic-biege: #F9F5F0;
    --basic-black: #000000;
    --basic-red: #EE3643;
    --basic-darkred: #CA2C37;
    --basic-blue: #32425C;
    --basic-darkblue:#293449;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-green: #63A63E;
    --basic-background: #F1F5F7;
    --basic-lightgray: #A9A9A9;
    --success: #5FBB2D;
    --error: #BA2732;
    --warning: #FFBF47;
    --special-greenlight: #8ED78F;
    --special-lilack: #DC91D8;
    --special-blue: #3BBCE3;
    --special-yellowlight: #FFD180;
}

@font-face {
    font-family: "Cuprum", "PT Sans";
    src: 
      url(../fonts/cuprum.woff2),
      url(../fonts/cuprum.woff),
      url(../fonts/ptsans.woff2),
      url(../fonts/ptsans.woff);
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: "Cuprum", "PT Sans";
    src: 
      url(../fonts/cuprumbold.woff2),
      url(../fonts/cuprumbold.woff),
      url(../fonts/ptsansbold.woff2),
      url(../fonts/ptsansbold.woff);
      font-weight: 700;
      font-style: normal;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.button:hover,
.button:focus {
    background-color: var(--basic-darkred);
}

.button:active {
    background-color: var(--error);
}

.search-item:active::placeholder {
    opacity: 50%;
}

.bookmarks:active,
.cart:active {
    opacity: 50%;
}

.checkout:hover,
.checkout:focus {
    background-color: var(--success);
}

.checkout:active {
    background-color: var(--success);
    opacity: 50%;
}


.checkout {
    background-color: var(--basic-green);
}

.personal-area a:hover,
.personal-area a:focus {
    color: var(--basic-red);
}

.personal-area a:active {
    color: var(--basic-greylight);
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: darkblue;
}

.site-navigation a:active {
    opacity: 50%;
}

.services-list a:hover,
.services-list a:focus {
    background-color: var(--basic-darkblue);
}

.footer-list a:hover,
.footer-list a:focus,
.assortment-list a:hover,
.assortment-list a:focus {
    text-decoration: underline;
}

.footer-list a:active,
.assortment-list a:active {
    opacity: 50%;
    text-decoration: none;
}

.footer-social a:hover,
.footer-social a:focus
.footer-social a:active {
    background-color: var(--basic-red);
}

.button-feedback:hover,
.button-developer:focus {
    text-decoration: underline;
}

.button-feedback:active,
.button-developer:active {
    color: var(--basic-red);
    text-decoration: none;
}

.advantages-list a:hover,
.advantages-list a:focus {
    background-color: var(--basic-greylight);
}

.advantages-list a:active {
    background-color: var(--basic-lightgray);
}

.main-header {
    background-color: var(--basic-background);
}

.wrapper-header,
.site-navigation {
    background-color: var(--basic-blue);
}

.advantages-materials {
    background-color: var(--special-yellowlight);
}

.advantages-instruments {
    background-color: var(--special-blue);
}

.advantages-technics {
    background-color: var(--special-lilack);
}

.advantages-discount {
    background-color: var(--special-greenlight);
}

.advantages-delivery {
    background-color: var(--special-yellowlight);
}

.popular-goods-block,
.brands-block {
    background-color: var(--basic-biege);
}

.services {
    background-color: var(--basic-background);
}

.main-footer {
    background-color: var(--basic-blue);
}

.footer-bottom {
    background-color: var(--basic-darkblue);
}

.button {
    background-color: var(--basic-red);
}

.search-form input,
.order-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-white);
}

.main-header h1 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;    
    color: var(--basic-red); 
}

.main-header .address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-blue);  
}

.main-header .phone {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-red);  
}

.personal-area .button-login,
.personal-area .button-register {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;    
    color: var(--basic-black);    
}

.site-navigation a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-white);
}

.advantages-list li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-white);    
}

.advantages-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-white);
}

.slider-list h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;    
    color: var(--basic-white); 
}

.slider-list p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-white);
}

.button-catalog {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-white);  
}

.popular-goods h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue);
}

.button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;    
    color: var(--basic-white);  
}

.popular-goods-list li {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
}

.popular-goods-list .old-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-lightgray);
}

.popular-goods-list .actual-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
}

.brands h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue);
}

.services h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
}

.services-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;    
    color: var(--basic-blue);  
}

.services-desc-list h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-blue); 
}

.about-us h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
}

.about-us-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;    
    color: var(--basic-black);
}

.contacts h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;    
    color: var(--basic-black);
}

.main-footer .address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-white);
}

.footer-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-white);
    text-decoration: none;
}

.assortment-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--special-yellowlight);
    text-decoration: none;
}

.copyright {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-white);
}

.feedback,
.developer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-white);
}

.button-feedback,
.button-developer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--special-yellowlight);
    text-decoration: none;
}